@charset "utf-8";

*{margin:0;padding:0;box-sizing: border-box;}
li{list-style: none;}
img { vertical-align: top; width: 100% }

@font-face{
    font-family: "RR";
    src:url("/font/Recoleta-RegularDEMO.otf")
}
/* ----------------------------------- */

html{
    font-family: "RR";
    background-color: var(--main-bg-color);
}

#nav,
#p1__banner,
#p1__prods__list,
#p2__container,
#p2__track,
.p2__slide,
.p2__slider,
.p2__txt,
.p2__list,
#p3__container,
#p3__slider__container,
#p3__slider,
#p3__prods__list,
.mySwiper{
    display: flex;
}

/* --헤더 & 로고 & 네비게이션-------------------------------------------------- */

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-h);
    z-index: 100;
    /* background-color: green; */
}

#logo{
    width: 144px;
    height: 80px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    cursor: pointer;
}
#logo img{
    position: relative;
    top: 25px;
}
#logo img:nth-of-type(2){display: none;}

#nav{
    width: 500px;
    height: 4vh;
    /* background-color: yellow; */
    margin: 0 auto;
    justify-content: space-between;
}
.nav__item{
    width: auto;
    height: 4vh;
    /* background-color: silver; */
    margin-left: 0px;
    float: left;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 4vh;
    cursor: pointer;
}
.nav__item:nth-of-type(1){margin-left: 0px;}

/* ----첫페이지 베너------------------------------------------------ */

#p1__banner{ /* 1920px x 593px */
    width: 100%;
    height: 56vh;
    
    /* overflow: hidden; */
    color: white;
    text-align: center;

    flex-direction: column;
    justify-content: center;
    
    margin-top: var(--header-h);

    background-image: url(img/Banner2.png);
}

#p1__banner p{
    font-size: 8vh;
}
#p1__banner span{
    font-size: 3vh;
}

/* ------------------------ */
#p1__prods__list{
    width: 72%;
    /* background-color: red; */
    margin: -12vh auto 0;

    justify-content: center;
    gap: 8vh;
    align-items: last baseline;
}

.p1__prods__item{
    /* background-color: yellow; */
    width: 16vh;
    height: 100%;
}

.p1__prods__item p{
    /* background-color:darkgrey; */
    text-align: center;
}

/* ------------------------ */
#p1__arrow{
    width: 4vh;
    height: 4vh;
    /* background-color: orange; */
    margin: 4vh auto;
    animation: blink 1.6s infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

/* -----페이지2----------------------------------------------------- */
#p2__container{
    /* background-color: skyblue; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#p2__track{
    flex-direction: row;
    width: 880px;
    overflow: hidden;
    transition: transform 0.6s;
}

.p2__slide{
    flex-direction: column;
}

.p2__slider{ /* 두 개의 큰 틀 */
    /* background-color: yellow; */
    width: 880px;
    height: calc((100vh - 120px) / 2);
    padding: 12px;
    justify-content: space-between;
}
.p2__slider--right{
    flex-direction: row-reverse;
}
.p2__slider--right .p2__txt{
    align-items: flex-end;

}
/* --------------------- */
.p2__arrow{
    width: 48px;
    cursor: pointer;
}

/* --------------------- */
.p2__prods__img{ /* page2 큰 이미지 */
    width: 240px;
    height: 260px;
    object-fit: cover;
}

.p2__txt-and-list{
    width: 600px;
    height: 280px;
    /* background-color: purple; */
}


/* --------------------- */
.p2__txt{ /* 글씨들 */
    /* background-color: chartreuse; */
    flex-direction: column;
}

.p2__txt p{
    font-size: 30px;
}
.p2__txt hr{
    width: 120px;
    height: 2px;
    background-color: var(--line-color);
    border: 0;
}
.p2__txt span{
    font-size: 16px;
}
/* --------------------- */
.p2__list{ /* 제품 다섯 개 */
    /* background-color: pink; */
}

.p2__item{
    /* border: 1px solid white; */
    width: 120px;
}

/* -----페이지3----------------------------------------------------- */
#p3__container{
    /* background-color: green; */
    height: calc(100vh - 120px);
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.swiper{
    overflow: visible;
}
.mySwiper{
    width: 800px;
    height: 400px;
    overflow: visible;
}


.p3__swiper-pagination{}

.swiper-pagination-bullet.p3__swiper-pagination-bullet{
    width: 110px;
    height: 110px;
    background: transparent;
    opacity: 1
}

.p3__swiper-pagination-bullet img{
    width: 100%;
    display: block;
}

.p3__swiper-pagination-bullet .hover{
    display: none;
}

.swiper-pagination-bullet-active .default{
    display: none;
}

.swiper-pagination-bullet-active .hover{
    display: block;
}

.swiper-slide{
    width: 400px;
    opacity: 0.4;
}
.swiper-slide img{
    width: 100%;
}

.swiper-slide-active{
    border: 4px solid black;
    opacity: 1;
}

#p3__txt{
    text-align: center;
}

#p3__prods__list{
    /* background-color: orange; */
    width: 640px;
    justify-content: space-between;
}

.p3__prods__item{
    width: 110px;
}

/* -----페이지4----------------------------------------------------- */
#p4__container{
    /* background-color: pink; */
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#p4__video{
    width: 919px;
    height: 517px;
    /* background-color: yellow; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px var(--shadow-color);
}

#p4__prods {
    /* background-color: green; */
    width: 360px;
    height: 560px;
    /* padding: 8px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
}

#p4__prods__txt{
    color: white;
    margin-left: 20px;
}
#p4__prods__txt h2{
    font-size: 24px;
    padding: 12px 0;
}
#p4__prods__txt p{
    font-size: 16px;
}

#p4__prods__list{
    /* background-color: red; */
    width: 360px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.p4__prods__item{
    width: 100px;
    /* border: 1px solid yellow; */
}

/* -----페이지5----------------------------------------------------- */
#p5__txt__container{
    width: 480px;
    /* background-color: blue; */
    margin: 0 auto;
    text-align: center;
    padding: 8vh;
}

#p5__list{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.p5__item__container{
    background-color: var(--main-bg-color-60);
    width: 300px;
    /* height: 48vh; */
    border-radius: 10px;

    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.p5__item__container:hover{
    box-shadow: 0 0 8px 2px var(--point-color-60);
    background-color: var(--hover-color);
    filter: saturate(1.3);
    transition: 0.3s;
    cursor: pointer;
}

.p5__item__img{
    width: 250px;
    border-radius: 10px;
}

.p5__item__txt{
    /* background-color: pink; */
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p5__item__txt h4{
    margin: 12px 0;
}

/* -----footer----------------------------------------------------- */
#footer__container{
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    gap: 8vh;
    padding: 64px;
}


#footer__txt__list{
    /* background-color: yellow; */
    width: 120vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__txt__item{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    color: white;
}

.footer__txt__item p, span{
    font-size: 12px;
    margin-top: 2vh;
    cursor: pointer;
}

/* ------------------------ */
#footer{
    background-color: var(--footer-bg-color);
    color: white;
}

#footer__icon__list{
    /* background-color: yellow; */
    width: 40vh;
    display: flex;
    justify-content: center;
    gap: 4vh;
    align-items: center;
}

.footer__icon__item{
    width: 4vh;
    float: left;
}

/* ---------------------------------------------------------- */

/* #dots{
    width: 8px;
    height: 80px;
    position: relative;
    top: 50%;
    left: 98%;
    transform: translateY(-50%);
    z-index: 1000;
}
#dots li{
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: var(--scroll-dots-default-color);
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}
#dots li:nth-of-type(1){margin-top: 0px}

#dots .active{
    width: 24px;
    background-color: var(--scroll-dots-active-color);
    position: relative;
    right: 16px;
} */


.fp-slidesNav
#fp-nav ul li a span

/* ----------------------------------- */
.section{
    height: 100vh;
    padding-top: var(--header-h);
    overflow: hidden;
}

#section1{background-image: url(img/background/Bg_page1.png);}
#section2{background-image: url(img/background/Bg_page2_texture2.png);}
#section3{background-image: url(img/background/Bg_page3.png);}
#section4{background-image: url(img/background/Bg_page4.png);}
#section5{background-image: url(img/background/Bg_page5.png);}

.bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shadow{
    transform: translateY(160px);
    opacity: 0.5
}

.content--wrapper{
    width: 100%;
    height: calc(100vh - 120px);

    margin-top: var(--header-h);

    align-items: center;
    
    /* box-shadow: 0 0 0 2px red inset; */
}
/* ----------------------------------- */


.fp-watermark{display:none}
.left{float:left}
.right{float:right}

.fp-tableCell{vertical-align: top !important;}